In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Feature Engineering para el Modelo Parte 2

In [51]:
file_path = '../data/processed/completo_df_v1.parquet'

completo_df_cargado = pd.read_parquet(file_path)

print(f"Archivo cargado exitosamente desde: {file_path}")
completo_df_cargado.info()

Archivo cargado exitosamente desde: ../data/processed/completo_df_v1.parquet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11209 entries, 0 to 11208
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COD_ALUMNO           11209 non-null  int64
 1   SEXO                 11209 non-null  object
 2   PER_INGRESO          11209 non-null  object
 3   ESTADO_CIVIL         11209 non-null  object
 4   TIPO_COLEGIO         11209 non-null  object
 5   PTJE_INGRESO         11209 non-null  float64
 6   ESTADO               11209 non-null  object
 7   SEM_CURSADOS         11209 non-null  int64
 8   CANT_RESERVAS        11209 non-null  int64
 9   PER_MATRICULA        11209 non-null  object
 10  COD_CURSO            11209 non-null  object
 11  CURSO                11209 non-null  object
 12  CREDITOS             11209 non-null  int64
 13  TIPO_CURSO           11209 non-null  object
 14  COD_PLAN             11209 non-null  int64
 15  COD_GRUPO            11209 non-null  int64
 16  GRUPO                11209 non-null  object
 17  NOTA                 11209 non-null  float64
 18  APROBO               11209 non-null  object
 19  HRS_INASISTENCIA     11209 non-null  int64
 20  HRS_CURSO            11209 non-null  int64
 21  PRCTJE_INASISTENCIA  11209 non-null  int64
 22  PONDERADO            11209 non-null  float64
 23  CRED_GRADUACION      11209 non-null  int64
 24  BECA_VIGENTE         11209 non-null  int64
 25  FECHA_NACIMIENTO     11209 non-null  object
 26  POBREZA_RES          11209 non-null  float64
 27  POBREZA_PRO          11209 non-null  float64
 28  TIPO_CICLO           11209 non-null  object
 29  NIVEL_CURSO          11209 non-null  int64
 30  FAMILIA              11209 non-null  object
 31  CODIGO               11209 non-null  object
 32  CLUSTER_CURSO        11209 non-null  int32
dtypes: float64(5), int32(1), int64(12), object(15)
memory usage: 2.8+ MB

In [52]:
completo_df_cargado

,COD_ALUMNO,SEXO,PER_INGRESO,ESTADO_CIVIL,TIPO_COLEGIO,PTJE_INGRESO,ESTADO,SEM_CURSADOS,CANT_RESERVAS,PER_MATRICULA,...,CRED_GRADUACION,BECA_VIGENTE,FECHA_NACIMIENTO,POBREZA_RES,POBREZA_PRO,TIPO_CICLO,NIVEL_CURSO,FAMILIA,CODIGO,CLUSTER_CURSO
0,30765,M,2016-02,S,Privada Parroquial,120.0,Regular,12,0,2017-01,...,219,0,1998-09-10,1.433882,0.715245,Regular,2,CS,CS100,7
1,30765,M,2016-02,S,Privada Parroquial,120.0,Regular,12,0,2017-01,...,219,0,1998-09-10,1.433882,0.715245,Regular,2,FG,FG104,3
2,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2017-01,...,219,1,1999-03-25,4.704118,0.715245,Regular,2,CS,CS112,7
3,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2017-01,...,219,1,1999-03-25,4.704118,0.715245,Regular,2,MA,MA101,1
4,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2017-01,...,219,1,1999-03-25,4.704118,0.715245,Regular,3,CS,CS221,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11204,32540,M,2017-01,S,Privada Particular,113.0,Retirado,7,1,2018-01,...,219,0,1991-02-25,0.345310,0.715245,Regular,2,CS,CS1D2,4
11205,32540,M,2017-01,S,Privada Particular,113.0,Retirado,7,1,2018-01,...,219,0,1991-02-25,0.345310,0.715245,Regular,2,CS,CS100,7
11206,32540,M,2017-01,S,Privada Particular,113.0,Retirado,7,1,2018-01,...,219,0,1991-02-25,0.345310,0.715245,Regular,2,CS,CS112,7
11207,32540,M,2017-01,S,Privada Particular,113.0,Retirado,7,1,2018-01,...,219,0,1991-02-25,0.345310,0.715245,Regular,1,MA,MA100,1
11208,28793,M,2016-01,S,Privada Particular,120.0,Regular,13,0,2018-01,...,219,0,1999-05-09,0.715245,12.829234,Regular,3,CS,CS231,7

In [53]:
sorted(completo_df_cargado['PER_MATRICULA'].unique())

['2016-01',
 '2016-02',
 '2017-00',
 '2017-01',
 '2017-02',
 '2018-00',
 '2018-01',
 '2018-02',
 '2019-00',
 '2019-01',
 '2019-02',
 '2020-00',
 '2020-01',
 '2020-02',
 '2021-00']

In [54]:
for ciclo in sorted(completo_df_cargado['PER_MATRICULA'].unique()):
    train_shape = completo_df_cargado[completo_df_cargado['PER_MATRICULA'] <= ciclo].shape
    print(train_shape, "\t", ciclo, "\t", 100 * train_shape[0] / 11209)

(432, 33) 	 2016-01 	 3.8540458560085646
(948, 33) 	 2016-02 	 8.457489517352128
(1008, 33) 	 2017-00 	 8.992773664019984
(1974, 33) 	 2017-01 	 17.610848425372467
(2829, 33) 	 2017-02 	 25.23864751538942
(2950, 33) 	 2018-00 	 26.318137211169596
(4106, 33) 	 2018-01 	 36.63127843697029
(5078, 33) 	 2018-02 	 45.30288161298956
(5155, 33) 	 2019-00 	 45.98982960121331
(6532, 33) 	 2019-01 	 58.274600767240614
(7854, 33) 	 2019-02 	 70.06869479882238
(7908, 33) 	 2020-00 	 70.55045053082344
(9576, 33) 	 2020-01 	 85.43134980818985
(11090, 33) 	 2020-02 	 98.93835310910875
(11209, 33) 	 2021-00 	 100.0

In [55]:
print(completo_df_cargado.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11209 entries, 0 to 11208
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COD_ALUMNO           11209 non-null  int64
 1   SEXO                 11209 non-null  object
 2   PER_INGRESO          11209 non-null  object
 3   ESTADO_CIVIL         11209 non-null  object
 4   TIPO_COLEGIO         11209 non-null  object
 5   PTJE_INGRESO         11209 non-null  float64
 6   ESTADO               11209 non-null  object
 7   SEM_CURSADOS         11209 non-null  int64
 8   CANT_RESERVAS        11209 non-null  int64
 9   PER_MATRICULA        11209 non-null  object
 10  COD_CURSO            11209 non-null  object
 11  CURSO                11209 non-null  object
 12  CREDITOS             11209 non-null  int64
 13  TIPO_CURSO           11209 non-null  object
 14  COD_PLAN             11209 non-null  int64
 15  COD_GRUPO            11209 non-null  int64
 16  GRUPO                11209 non-null  object
 17  NOTA                 11209 non-null  float64
 18  APROBO               11209 non-null  object
 19  HRS_INASISTENCIA     11209 non-null  int64
 20  HRS_CURSO            11209 non-null  int64
 21  PRCTJE_INASISTENCIA  11209 non-null  int64
 22  PONDERADO            11209 non-null  float64
 23  CRED_GRADUACION      11209 non-null  int64
 24  BECA_VIGENTE         11209 non-null  int64
 25  FECHA_NACIMIENTO     11209 non-null  object
 26  POBREZA_RES          11209 non-null  float64
 27  POBREZA_PRO          11209 non-null  float64
 28  TIPO_CICLO           11209 non-null  object
 29  NIVEL_CURSO          11209 non-null  int64
 30  FAMILIA              11209 non-null  object
 31  CODIGO               11209 non-null  object
 32  CLUSTER_CURSO        11209 non-null  int32
dtypes: float64(5), int32(1), int64(12), object(15)
memory usage: 2.8+ MB
None

In [56]:
print(completo_df_cargado.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11209 entries, 0 to 11208
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COD_ALUMNO           11209 non-null  int64
 1   SEXO                 11209 non-null  object
 2   PER_INGRESO          11209 non-null  object
 3   ESTADO_CIVIL         11209 non-null  object
 4   TIPO_COLEGIO         11209 non-null  object
 5   PTJE_INGRESO         11209 non-null  float64
 6   ESTADO               11209 non-null  object
 7   SEM_CURSADOS         11209 non-null  int64
 8   CANT_RESERVAS        11209 non-null  int64
 9   PER_MATRICULA        11209 non-null  object
 10  COD_CURSO            11209 non-null  object
 11  CURSO                11209 non-null  object
 12  CREDITOS             11209 non-null  int64
 13  TIPO_CURSO           11209 non-null  object
 14  COD_PLAN             11209 non-null  int64
 15  COD_GRUPO            11209 non-null  int64
 16  GRUPO                11209 non-null  object
 17  NOTA                 11209 non-null  float64
 18  APROBO               11209 non-null  object
 19  HRS_INASISTENCIA     11209 non-null  int64
 20  HRS_CURSO            11209 non-null  int64
 21  PRCTJE_INASISTENCIA  11209 non-null  int64
 22  PONDERADO            11209 non-null  float64
 23  CRED_GRADUACION      11209 non-null  int64
 24  BECA_VIGENTE         11209 non-null  int64
 25  FECHA_NACIMIENTO     11209 non-null  object
 26  POBREZA_RES          11209 non-null  float64
 27  POBREZA_PRO          11209 non-null  float64
 28  TIPO_CICLO           11209 non-null  object
 29  NIVEL_CURSO          11209 non-null  int64
 30  FAMILIA              11209 non-null  object
 31  CODIGO               11209 non-null  object
 32  CLUSTER_CURSO        11209 non-null  int32
dtypes: float64(5), int32(1), int64(12), object(15)
memory usage: 2.8+ MB
None

In [98]:
def calcular_estadisticos_historicos(df):
    """
    Calcula, para cada fila, las estadísticas del estudiante hasta el ciclo anterior.
    Incluye promedio ponderado, notas, asistencias y créditos aprobados.
    """
    df = df.copy()
    resultados = []

    # Agrupar por estudiante
    for cod, grupo in df.groupby("COD_ALUMNO", sort=False):
        historial = []
        for idx, row in grupo.iterrows():
            # Filtrar cursos anteriores
            anteriores = grupo[grupo["PER_MATRICULA"] < row["PER_MATRICULA"]]
            
            if len(anteriores) == 0:
                resultados.append({
                    "PROM_POND_HIST": 0,
                    "NOTA_MAX_HIST": 0,
                    "NOTA_MIN_HIST": 0,
                    "NOTA_MEDIAN_HIST": 0,
                    "NOTA_Q1_HIST": 0,
                    "NOTA_Q3_HIST": 0,
                    "ASIST_PROM_HIST": 0,
                    "CRED_APROB_HIST": 0
                })
                continue
            
            # Calcular métricas
            notas = anteriores["NOTA"]
            asist = anteriores["PRCTJE_INASISTENCIA"]
            cred = anteriores.loc[anteriores["APROBO"] == "Si", "CREDITOS"]
            
            ponderado = np.average(anteriores["NOTA"], weights=anteriores["CREDITOS"])
            q1, q3 = notas.quantile(0.25), notas.quantile(0.75)
            
            resultados.append({
                "PROM_POND_HIST": ponderado,
                "NOTA_MAX_HIST": notas.max(),
                "NOTA_MIN_HIST": notas.min(),
                "NOTA_MEDIAN_HIST": notas.median(),
                "NOTA_Q1_HIST": q1,
                "NOTA_Q3_HIST": q3,
                "ASIST_PROM_HIST": asist.mean(),
                "CRED_APROB_HIST": cred.sum()
            })
    
    hist_df = pd.DataFrame(resultados)
    df = pd.concat([df.reset_index(drop=True), hist_df], axis=1)
    return df

In [99]:
def calcular_estadisticos_cluster(df):
    """
    Para cada fila, calcula estadísticas históricas del estudiante dentro de su cluster.
    Incluye promedio, cursos aprobados y desaprobados.
    """
    df = df.copy()
    resultados = []

    for (alumno, cluster), grupo in df.groupby(["COD_ALUMNO", "CLUSTER_CURSO"], sort=False):
        for idx, row in grupo.iterrows():
            anteriores = grupo[grupo["PER_MATRICULA"] < row["PER_MATRICULA"]]
            
            if len(anteriores) == 0:
                resultados.append({
                    "NOTA_PROM_CLUSTER_HIST": 0,
                    "CURSOS_APRO_CLUSTER_HIST": 0,
                    "CURSOS_DESAPRO_CLUSTER_HIST": 0
                })
                continue
            
            notas = anteriores["NOTA"]
            apro = (anteriores["APROBO"] == "Si").sum()
            desapro = (anteriores["APROBO"] == "No").sum()
            
            resultados.append({
                "NOTA_PROM_CLUSTER_HIST": notas.mean(),
                "CURSOS_APRO_CLUSTER_HIST": apro,
                "CURSOS_DESAPRO_CLUSTER_HIST": desapro
            })
    
    cluster_df = pd.DataFrame(resultados)
    df = pd.concat([df.reset_index(drop=True), cluster_df], axis=1)
    return df

In [103]:
def generar_estadisticos_completos(df):
    df = calcular_estadisticos_historicos(df)
    df = calcular_estadisticos_cluster(df)
    return df

In [104]:
# Supongamos que ya cargaste tu DataFrame completo_df_cargado
df_resultado = generar_estadisticos_completos(completo_df_cargado)

# Vista previa
print(df_resultado.head())

   COD_ALUMNO SEXO PER_INGRESO ESTADO_CIVIL        TIPO_COLEGIO  PTJE_INGRESO  \
0       28283    F     2016-01            S  Privada Particular         128.0
1       28283    F     2016-01            S  Privada Particular         128.0
2       28283    F     2016-01            S  Privada Particular         128.0
3       28283    F     2016-01            S  Privada Particular         128.0
4       28283    F     2016-01            S  Privada Particular         128.0

    ESTADO  SEM_CURSADOS  CANT_RESERVAS PER_MATRICULA  ... NOTA_MAX_HIST  \
0  Regular            14              0       2016-01  ...           0.0
1  Regular            14              0       2016-01  ...           0.0
2  Regular            14              0       2016-01  ...           0.0
3  Regular            14              0       2016-01  ...           0.0
4  Regular            14              0       2016-01  ...           0.0

  NOTA_MIN_HIST  NOTA_MEDIAN_HIST NOTA_Q1_HIST  NOTA_Q3_HIST  ASIST_PROM_HIST  \
0           0.0               0.0          0.0           0.0              0.0
1           0.0               0.0          0.0           0.0              0.0
2           0.0               0.0          0.0           0.0              0.0
3           0.0               0.0          0.0           0.0              0.0
4           0.0               0.0          0.0           0.0              0.0

  CRED_APROB_HIST  NOTA_PROM_CLUSTER_HIST CURSOS_APRO_CLUSTER_HIST  \
0               0                    0.00                        0
1               0                   13.46                        0
2               0                   13.46                        0
3               0                   12.27                        0
4               0                   12.27                        0

   CURSOS_DESAPRO_CLUSTER_HIST
0                            0
1                            0
2                            0
3                            0
4                            0

[5 rows x 59 columns]

In [102]:
df_resultado

,COD_ALUMNO,SEXO,PER_INGRESO,ESTADO_CIVIL,TIPO_COLEGIO,PTJE_INGRESO,ESTADO,SEM_CURSADOS,CANT_RESERVAS,PER_MATRICULA,...,NOTA_MAX_HIST,NOTA_MIN_HIST,NOTA_MEDIAN_HIST,NOTA_Q1_HIST,NOTA_Q3_HIST,ASIST_PROM_HIST,CRED_APROB_HIST,NOTA_PROM_CLUSTER_HIST,CURSOS_APRO_CLUSTER_HIST,CURSOS_DESAPRO_CLUSTER_HIST
0,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,201601,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.00,0,0
1,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,201601,...,0.0,0.0,0.0,0.0,0.0,0.0,0,13.46,0,0
2,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,201601,...,0.0,0.0,0.0,0.0,0.0,0.0,0,13.46,0,0
3,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,201601,...,0.0,0.0,0.0,0.0,0.0,0.0,0,12.27,0,0
4,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,201601,...,0.0,0.0,0.0,0.0,0.0,0.0,0,12.27,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11204,43662,M,2020-02,S,Privada Parroquial,170.0,Separado,1,0,202002,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.00,0,0
11205,43662,M,2020-02,S,Privada Parroquial,170.0,Separado,1,0,202002,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.00,0,0
11206,43662,M,2020-02,S,Privada Parroquial,170.0,Separado,1,0,202002,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.00,0,0
11207,43662,M,2020-02,S,Privada Parroquial,170.0,Separado,1,0,202002,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.00,0,0
11208,43662,M,2020-02,S,Privada Parroquial,170.0,Separado,1,0,202002,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.00,0,0

In [106]:
df_resultado[df_resultado['COD_ALUMNO'] == 28283]

,COD_ALUMNO,SEXO,PER_INGRESO,ESTADO_CIVIL,TIPO_COLEGIO,PTJE_INGRESO,ESTADO,SEM_CURSADOS,CANT_RESERVAS,PER_MATRICULA,...,NOTA_MAX_HIST,NOTA_MIN_HIST,NOTA_MEDIAN_HIST,NOTA_Q1_HIST,NOTA_Q3_HIST,ASIST_PROM_HIST,CRED_APROB_HIST,NOTA_PROM_CLUSTER_HIST,CURSOS_APRO_CLUSTER_HIST,CURSOS_DESAPRO_CLUSTER_HIST
0,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2016-01,...,0.00,0.0,0.000,0.0000,0.0000,0.000000,0,0.000000,0,0
1,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2016-01,...,0.00,0.0,0.000,0.0000,0.0000,0.000000,0,13.460000,0,0
2,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2016-01,...,0.00,0.0,0.000,0.0000,0.0000,0.000000,0,13.460000,0,0
3,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2016-01,...,0.00,0.0,0.000,0.0000,0.0000,0.000000,0,12.270000,0,0
4,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2016-01,...,0.00,0.0,0.000,0.0000,0.0000,0.000000,0,12.270000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2020-02,...,19.39,8.6,14.745,12.8325,15.7175,29.896552,0,0.000000,0,0
61,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2020-02,...,19.39,8.6,14.745,12.8325,15.7175,29.896552,0,16.240000,0,0
62,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2020-02,...,19.39,8.6,14.745,12.8325,15.7175,29.896552,0,16.680000,0,0
63,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2020-02,...,19.39,8.6,14.745,12.8325,15.7175,29.896552,0,16.786667,0,0
64,28283,F,2016-01,S,Privada Particular,128.0,Regular,14,0,2020-02,...,19.39,8.6,14.745,12.8325,15.7175,29.896552,0,16.785000,0,0

In [110]:
# Lista de columnas a mostrar
columnas_a_mostrar = [
    'COD_ALUMNO', 
    'PER_MATRICULA', 
    'CLUSTER_CURSO',
    'PROM_POND_HIST',
    'NOTA_MAX_HIST',
    'NOTA_MIN_HIST',
    'NOTA_MEDIAN_HIST',
    'NOTA_Q1_HIST',
    'NOTA_Q3_HIST',
    'ASIST_PROM_HIST',
    'CRED_APROB_HIST',
    'NOTA_PROM_CLUSTER_HIST',
    'CURSOS_APRO_CLUSTER_HIST',
    'CURSOS_DESAPRO_CLUSTER_HIST'
]

df_resultado[columnas_a_mostrar].head(20)

,COD_ALUMNO,PER_MATRICULA,CLUSTER_CURSO,PROM_POND_HIST,NOTA_MAX_HIST,NOTA_MAX_HIST,NOTA_MIN_HIST,NOTA_MIN_HIST,NOTA_MEDIAN_HIST,NOTA_MEDIAN_HIST,...,NOTA_Q3_HIST,NOTA_Q3_HIST,ASIST_PROM_HIST,CRED_APROB_HIST,NOTA_PROM_CLUSTER_HIST,NOTA_PROM_CLUSTER_HIST,CURSOS_APRO_CLUSTER_HIST,CURSOS_APRO_CLUSTER_HIST,CURSOS_DESAPRO_CLUSTER_HIST,CURSOS_DESAPRO_CLUSTER_HIST
0,28283,2016-01,7,0.000000,0.00,0.00,0.00,0.00,0.000,0.000,...,0.0000,0.0000,0.000000,0,0.000000,0.000000,0.0,0,0.0,0
1,28283,2016-01,4,0.000000,13.46,0.00,13.46,0.00,13.460,0.000,...,13.4600,0.0000,0.000000,0,0.000000,13.460000,0.0,0,0.0,0
2,28283,2016-01,0,0.000000,13.46,0.00,11.61,0.00,12.535,0.000,...,12.9975,0.0000,0.000000,0,0.000000,13.460000,0.0,0,0.0,0
3,28283,2016-01,6,0.000000,13.72,0.00,11.61,0.00,13.460,0.000,...,13.5900,0.0000,0.000000,0,0.000000,12.270000,0.0,0,0.0,0
4,28283,2016-01,3,0.000000,15.45,0.00,11.61,0.00,13.590,0.000,...,14.1525,0.0000,0.000000,0,0.000000,12.270000,0.0,0,0.0,0
5,28283,2016-01,1,0.000000,16.05,0.00,11.61,0.00,13.720,0.000,...,15.4500,0.0000,0.000000,0,0.000000,13.166000,0.0,0,0.0,0
6,28283,2016-02,7,13.560909,16.05,16.05,11.61,11.61,13.590,13.590,...,15.0175,15.0175,30.000000,0,13.460000,13.290000,1.0,0,0.0,0
7,28283,2016-02,7,13.560909,16.05,16.05,11.61,11.61,13.720,13.590,...,15.1000,15.0175,30.000000,0,14.105000,13.325714,2.0,0,0.0,0
8,28283,2016-02,4,13.560909,16.05,16.05,8.60,11.61,13.590,13.590,...,14.9250,15.0175,30.000000,0,11.610000,13.325714,1.0,0,0.0,0
9,28283,2016-02,3,13.560909,16.05,16.05,8.60,11.61,13.460,13.590,...,14.7500,15.0175,30.000000,0,16.050000,13.725556,1.0,0,0.0,0
10,28283,2016-02,3,13.560909,16.05,16.05,8.60,11.61,13.590,13.590,...,15.2750,15.0175,30.000000,0,15.775000,13.725556,2.0,0,0.0,0
11,28283,2016-02,1,13.560909,16.05,16.05,8.60,11.61,13.720,13.590,...,15.4750,15.0175,30.000000,0,12.480000,0.000000,1.0,0,0.0,0
12,28283,2017-01,7,12.875476,16.05,16.05,8.60,8.60,13.590,13.590,...,15.4625,15.4625,30.000000,0,12.270000,11.610000,2.0,0,1.0,0
13,28283,2017-01,7,12.875476,16.21,16.05,8.60,8.60,13.720,13.590,...,15.5000,15.4625,30.000000,0,13.255000,11.920000,3.0,0,1.0,0
14,28283,2017-01,3,12.875476,16.21,16.05,8.60,8.60,13.590,13.590,...,15.4875,15.4625,30.000000,0,15.840000,12.980000,3.0,0,0.0,0
15,28283,2017-01,3,12.875476,16.21,16.05,8.60,8.60,13.720,13.590,...,15.4750,15.4625,30.000000,0,15.670000,13.597500,4.0,0,0.0,0
16,28283,2017-01,1,12.875476,16.21,16.05,8.60,8.60,14.235,13.590,...,15.4625,15.4625,30.000000,0,11.655000,13.526000,1.0,0,1.0,0
17,28283,2017-01,1,12.875476,16.21,16.05,8.60,8.60,14.530,13.590,...,15.4500,15.4625,30.000000,0,12.613333,13.526000,2.0,0,1.0,0
18,28283,2017-02,4,13.309839,16.21,16.21,8.60,8.60,14.125,14.125,...,15.4225,15.4225,29.666667,0,11.920000,0.000000,2.0,0,0.0,0
19,28283,2017-02,1,13.309839,16.21,16.21,8.60,8.60,14.530,14.125,...,15.3950,15.4225,29.666667,0,12.325000,13.720000,2.0,0,2.0,0